html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.App {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
}

.leftSideHome {
    flex: 16%;
    padding: 40px 22px;
}

.middleSide {
    flex: 54%;
    flex-direction: column;
    border-left: 1px solid #dbdbdb;
    background-color: #ffffff;
    color: #000000;
}

.rightSideHome {
    flex: 30%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .App {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }
    .leftSideHome,
    .middleSide,
    .rightSideHome {
        flex: none;
        width: 100%;
        padding: 10px 0;
        border: none;
    }
    .middleSide {
        border-left: none;
    }
}

@media (max-width: 480px) {
    .App {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }
    .leftSideHome,
    .middleSide,
    .rightSideHome {
        flex: none;
        width: 100%;
        padding: 5px 0;
        border: none;
    }
}
